/*
    type          : css
    name          : style
    author        : Yoann Di Maria
    project       : CUDA
    demo link     : http://yoanndm.fr/cuda/
    source github : https://github.com/ohyoyo/CUDA
*/

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0 auto;
}

a {
    text-decoration: none; /* no underline for link */
}
/* code base <section>*/
section {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
}

section#welcome {
    background-color: rgb(135, 80, 156);
    height: 596px;
}

section#services {
    background-color: rgb(23, 194, 164);
    height: 747px;
}

section#team {
    background-color: rgb(231, 241, 248);
    height: 915px;
}

section#skills {
    background-color: rgb(255, 255, 255);
    height: 655px;
}

section#portfolio {
    background-color: rgb(255, 221, 153);
    height: 1423px;
}

section#testimonials {
    background-color: rgb(215, 70, 128);
    height: 895px;
}

section#getintouch {
    background-color: rgb(60, 84, 153);
    height: 819px;
}
/* section welcome 
*/
section#welcome nav#top {
    height: 100px;
}
/* logo cuda */
section#welcome #logo {
    background-image: url("../img/logo/logo.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 117px;
    height: 37px;
    left: 200px;
    top: 50px;
}
/* menu */
section#welcome lu {
    right: 200px;
    top: 55px;
    position: absolute;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    list-style-type: none;
    display: flex;
}

section#welcome lu a li {
    color: rgb(255, 255, 255);
}

section#welcome lu li {
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px 15px;
    border-radius: 4px;
}

section#welcome lu li:hover {
    background-color: rgb(100, 58, 121);
    padding: 3px 15px;
    border-radius: 4px;
}

section#welcome #welcometitre {
    text-align: center;
}

section#welcome h1 {
    color: rgb(247, 243, 234);
    font-size: 33px;
    margin-top: 110px;
    margin-bottom: 65px;
}

section#welcome #welcometitre .buttonShap {
    background-color: rgb(235, 125, 75);
    width: 220px;
    margin: 0 auto;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

section#welcome #welcometitre .buttonShap:hover {
    border-bottom-color: rgb(235, 125, 75);
}
/* end section welcome 

   section services 
*/
section#services {
    color: rgb(255, 255, 255);
    text-align: center;
}

section#services nav#top {
    padding-top: 15px;
}

section#services nav#top h1 {
    font-size: 33px;
    top: 50px;
    position: relative;
}

section#services nav#top #filet {
    width: 87px;
    margin: 0 auto;
    top: 20px;
    border-top: 4px solid rgb(0, 0, 0); 
    opacity: 0.149;
    position: relative;
}

section#services nav#top #mess {
    width: 520px;
    margin: 0 auto;
    font-size: 18px;
    top: 35px;
    position: relative;
    line-height: 1.444;
    -moz-transform: matrix( 1,0,0,1.03213475092582,0,0);
    -webkit-transform: matrix( 1,0,0,1.03213475092582,0,0);
    -ms-transform: matrix( 1,0,0,1.03213475092582,0,0);
    
}

table#services {
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
}

table#services td {
    width: 192px;
    height: 64px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: 200px;
    margin-left: 200px;
}
table#services td #icon_flag {
    background-image: url("../img/icon/flag_icon.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 124px;
    margin: 0 auto;
}

table#services td #icon_crayon {
    background-image: url("../img/icon/crayon_icon.png");
    background-repeat: no-repeat;
    width: 90px;
    height: 131px;
    margin: 0 auto;
}

table#services td #icon_gears {
    background-image: url("../img/icon/gears_icon.png");
    background-repeat: no-repeat;
    width: 159px;
    height: 126px;
    margin: 0 auto;
}

table#services td #icon_rockets {
    background-image: url("../img/icon/rocket_icon.png");
    background-repeat: no-repeat;
    width: 95px;
    height: 134px;
    margin: 0 auto;
}

table#services td.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    padding-top: 25px;
}
/* end section services

   section team 
*/
section#team {
    color: rgb(60, 71, 97);
    text-align: center;
}

section#team nav#top {
    padding-top: 15px;
}

section#team nav#top h1 {
    font-size: 33px;
    top: 50px;
    position: relative;
}

section#team nav#top #filet {
    width: 87px;
    margin: 0 auto;
    top: 20px;
    border-top: 4px solid rgb(0, 0, 0); 
    opacity: 0.149;
    position: relative;
}

section#team nav#top #mess {
    margin: 0 auto;
    color: rgb(60, 71, 97);
    font-size: 18px;
    top: 35px;
    position: relative;
    line-height: 1.444;
    -moz-transform: matrix( 1,0,0,1.03213475092582,0,0);
    -webkit-transform: matrix( 1,0,0,1.03213475092582,0,0);
    -ms-transform: matrix( 1,0,0,1.03213475092582,0,0);
}


section#team table#team {
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
    
}
section#team table#team td {
    width: 192px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;
}

section#team table#team .picteam {
    background-color: rgb(135, 135, 135);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


section#team table#team td.title {
    font-size: 24px;
    color: rgb(39, 40, 61);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    padding-top: 40px;
}

section#team table#team td.desc {
    color: rgb(48, 186, 231);
    line-height: 1.125;
    text-align: center;
    padding-top: 15px;
}

section#team table#team td.text {
    padding-top: 15px;
}

section#team table#team td.icn {
    padding-top: 25px;
}

section#team table#team td a.icn {
    margin-right: 4px;
    margin-left: 4px
    
}
/* end section team

   section skills 
*/
section#skills {
    color: rgb(60, 71, 97);
    text-align: center;
}

section#skills nav#top {
    padding-top: 15px;
}

section#skills nav#top h1 {
    font-size: 33px;
    top: 50px;
    position: relative;
}

section#skills nav#top #filet {
    width: 87px;
    margin: 0 auto;
    top: 20px;
    border-top: 4px solid rgb(0, 0, 0); 
    opacity: 0.149;
    position: relative;
}

section#skills nav#top #mess {
    width: 560px;
    margin: 0 auto;
    font-size: 18px;
    top: 35px;
    position: relative;
    line-height: 1.444;
    -moz-transform: matrix( 1,0,0,1.03213475092582,0,0);
    -webkit-transform: matrix( 1,0,0,1.03213475092582,0,0);
    -ms-transform: matrix( 1,0,0,1.03213475092582,0,0);

}

section#skills table#skills {
    margin: 0 auto;
    padding-top: 120px;
    position: relative;
    
}

section#skills table#skills td {
    width: 192px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto;

}

section#skills table#skills td.title {
    font-size: 24px;
    color: rgb(60, 71, 97);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    padding-top: 20px;
}
/* end section skills

   section portfolio 
*/
section#portfolio {
    color: rgb(60, 71, 97);
    text-align: center;
    margin: 0 auto;
}

section#portfolio nav#top {
    padding-top: 15px;
}

section#portfolio nav#top h1 {
    font-size: 33px;
    top: 50px;
    position: relative;
}

section#portfolio nav#top #filet {
    width: 87px;
    margin: 0 auto;
    top: 20px;
    border-top: 4px solid rgb(0, 0, 0); 
    opacity: 0.149;
    position: relative;
}

section#portfolio nav#top #mess {
    width: 520px;
    margin: 0 auto;
    font-size: 16px;
    top: 35px;
    position: relative;
}

section#portfolio lu {
    position: relative;
    top: 65px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

section#portfolio lu a li {
    float: left;
    color: rgb(60, 71, 97);
}

section#portfolio lu li {
    margin-right: 20px;
    padding: 3px 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.078);
    
}

section#portfolio lu li:hover {
    background-color: rgb(255, 255, 255);
    padding: 3px 15px;
    border-radius: 4px;
}

 section#portfolio #portfolio  {
    margin: 0 auto;
    width: 1322px;
    display: block;
    display: inline-block;
    padding-top: 120px;
}

section#portfolio #portfolio .padding-screen {
    padding-bottom: 65px;
}

section#portfolio #portfolio figure {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

section#portfolio #portfolio figcaption {
    color: rgb(57, 57, 57);
    margin-top: 29px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.083;
}

section#portfolio .buttonShap {
    background-color: rgb(23, 194, 164);
    width: 220px;
    margin: 0 auto;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 50px;
    border-radius: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

section#portfolio .buttonShap:hover {
    border-bottom-color: rgb(23, 194, 164);
}

